.nb-note {
  background-color: yellow !important;
  position: absolute !important;
  resize: both !important;
}

.note-text {
  min-height: 80px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

.move-bar {
  width: 100%;
  height: 20px;
  background-color: #C0C0C0;
}

.move-bar:hover {
  cursor: move;
}
