.nb-note .note-text .move-bar .delete .move-bar:hover .delete:hover {
  position: relative;
  background-color: transparent;
  margin: 0;
  padding: 0;
  resize: none;
  height: 0;
  width: 0;
  min-height: 0;
  min-width: 0;
}

.nb-note {
  background-color: yellow !important;
  position: absolute !important;
}

.note-text {
  min-height: 80px !important;
  min-width: 136px !important;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  resize: both !important;
}

.move-bar {
  width: 100% !important;
  height: 20px !important;
  background-color: #C0C0C0 !important;
  display: flex !important;
  align-items: center !important;
}

.move-bar:hover {
  cursor: move !important;
}

.delete {
  margin-left: auto !important;
  margin-right: 5px !important;
  height: 10px !important;
  width: 10px !important;
}

.delete:hover {
  cursor: default !important;
}
